<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome#say action</title>
    <style type="text/css">
        div{
            border: solid Aqua 5px;
            width: 800px;

            /*Make float elements remain in current block area without overflow outside it*/
            overflow: auto;
        }
        #WFC_Megatron{
            width: 400px;
            height: 300px;
            float: right;
        }
    </style>
</head>
<body>
    <h1>say_hello</h1>
    <%= link_to "Home", root_path  %>
    <div id="main">
        <img id="WFC_Megatron" src="http://www.tfg2.com/attachment/photo/Mon_1212/396_1e1613563975910d03b8c97682b46.jpg" alt="">
        This is view of Action welcome#say. Also an exercise for CSS float property.
    </div>
</body>
</html>
